<ion-header>
  <ion-toolbar>
    <ion-title>Múltiplos App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center">
    <ion-item>
      <ion-label position="floating">Ingresa un número</ion-label>
      <br />
      <ion-input [(ngModel)]="userInput" type="number"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="calculateMultiples()"
      >Calcular Múltiplos</ion-button
    >

    <p>{{ numbers.join(', ') }}</p>

    <div *ngFor="let m of multiples">
      <p [ngStyle]="{'color': m.color}">
        {{ userInput }} [{{ m.multiple }}] ({{ m.numbers.join(', ') }} en
        <span *ngIf="m.multiple === '3'">VERDE</span>
        <span *ngIf="m.multiple === '5'">ROJO</span>
        <span *ngIf="m.multiple === '7'">AZUL</span>)
      </p>
    </div>
  </div>
</ion-content>
